In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [120]:
# seeing what the column names are for future reference
flights_data.columns

Index(['Unnamed: 0', 'year', 'month', 'day', 'dep_time', 'dep_delay',
       'arr_time', 'arr_delay', 'carrier', 'tailnum', 'flight', 'origin',
       'dest', 'air_time', 'distance', 'hour', 'minute', 'date', 'speed'],
      dtype='object')

In [93]:
#Question 1 How many flights were there from JFK to SLC? Int
# creating new variable that represents flights wher the origin is JFK and the destination is SLC. using & boolean to get both
jfk_slc_flights = flights_data[(flights_data['origin'] == "JFK") & (flights_data['dest'] == "SLC")]
num_flights = len(jfk_slc_flights)
print("q_1: ")
num_flights, type(num_flights)

q_1:

(2113, int)

In [94]:
#Question 2 How many airlines fly to SLC? Should be int
flights_to_slc = flights_data[(flights_data['dest'] == 'SLC')]
# .nunique() counts the number of unique items
num_airlines_to_slc = flights_to_slc['carrier'].nunique()
print('q_2: ') 
num_airlines_to_slc, type(num_airlines_to_slc)

q_2:

(2, int)

In [95]:
#Question 3 What is the average arrival delay for flights to RDU? float
flights_to_rdu = flights_data[flights_data['dest'] == 'RDU']
# testing that I have the right group of flights
# print(flights_to_rdu)
delay_to_rdu = flights_to_rdu['arr_delay']
avg_delay_to_rdu = delay_to_rdu.mean()
print('q_3: ')
avg_delay_to_rdu, type(avg_delay_to_rdu)

q_3:

(np.float64(10.052380952380952), numpy.float64)

In [102]:
#Question 4 What proportion of flights to SEA come from the two NYC
# airports (LGA and JFK)? float
# q_4
# first selecting all flights to seattle
flights_to_sea = flights_data[flights_data['dest'] == 'SEA']
# now from the above group, selecting if it is from LGA OR JFK (using '|' boolean operator)
to_sea_from_nyc = (flights_to_sea[flights_to_sea['origin'].isin(['LGA', 'JFK'])])
# added len() to each variable to do the math
prop_sea_flights_from_nyc = (len(to_sea_from_nyc)/len(flights_to_sea))
# converting to percent to make it more readable
percent_sea_flights_from_nyc = (f"{prop_sea_flights_from_nyc*100:.2f}%")
print('q_4: ')
percent_sea_flights_from_nyc, type(prop_sea_flights_from_nyc)

q_4:

('53.33%', float)

In [103]:
#Question 5 Which date has the largest average depature delay? Pd slice
# with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
# q_5
# first creating a date column using to_datetime
flights_data['date'] = pd.to_datetime(flights_data[['year', 'month', 'day']])
#checking to see if the new column was added
# print(flights_data.head(5))
# using .groupby to group each day together. then selected the dep_delay column and got the avg of it per day
avg_dep_delay_per_day = flights_data.groupby('date')['dep_delay'].mean()
#checking for a float value per day
# print(avg_delay_per_day)
# grabbing the date (the index) and the float (the value) with the max avg delay
date_max_dep_delay_avg = avg_dep_delay_per_day.idxmax()
max_dep_delay_value = avg_dep_delay_per_day.max()
#placing them in a new DataFrame (I think this is what you mean by pd slice?)
# converting the date to the preffered format using .strftime
q_5 = pd.DataFrame({
    'date': [date_max_dep_delay_avg.strftime('%Y/%-m/%-d')],
    'avg_dep_delay': [max_dep_delay_value]
})
print('q_5:')
q_5

q_5:

       date  avg_dep_delay
0  2013/3/8      83.536921

In [105]:
#Question 6 Which date has the largest average arrival delay? pd slice
# with date and float
# q_6
avg_arr_delay_per_day = flights_data.groupby('date')['arr_delay'].mean()
date_max_arr_delay_avg = avg_arr_delay_per_day.idxmax()
max_arr_delay_value = avg_arr_delay_per_day.max()
q_6 = pd.DataFrame ({
    'date': [date_max_arr_delay_avg.strftime('%Y/%-m/%-d')], 
    'avg_arr_delay': [max_arr_delay_value]
})
print('q_6:')
q_6

q_6:

       date  avg_arr_delay
0  2013/3/8      85.862155

In [106]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd
# slice with tailnumber and speed
# #speed = distance/airtime
# q_7
# creating a new speed column
flights_data['speed'] = flights_data['distance'] / flights_data['air_time']
#grabbing nyc flights only
flights_from_nyc = flights_data[flights_data['origin'].isin(['LGA','JFK'])]
#checking to see that I got the right flights
# print(flights_from_nyc)
# retrieving the index of the row with max speed
fastest_index = flights_from_nyc['speed'].idxmax()
# getting the rows information at the index found above
fastest_nyc_flight = flights_from_nyc.loc[fastest_index]
q_7 = pd.DataFrame ({
    'tailnum': [fastest_nyc_flight['tailnum']],
    'speed': [fastest_nyc_flight['speed']]
})
print('q_7:')
q_7

q_7:

  tailnum      speed
0  N666DN  11.723077

In [123]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with
# no nans
# q_8
# using .fillna to replace values with 0, inplace = True is modifying the actual dataframe, instead of making a new one
weather_data_pd.fillna(0, inplace = True)
# checking that it worked
print(weather_data_pd.isna().sum())

Unnamed: 0    0
origin        0
year          0
month         0
day           0
hour          0
temp          0
dewp          0
humid         0
wind_dir      0
wind_speed    0
wind_gust     0
precip        0
pressure      0
visib         0
dtype: int64

In [124]:
weather_data_pd.columns

Index(['Unnamed: 0', 'origin', 'year', 'month', 'day', 'hour', 'temp', 'dewp',
       'humid', 'wind_dir', 'wind_speed', 'wind_gust', 'precip', 'pressure',
       'visib'],
      dtype='object')

In [ ]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
# q_9
# [:, 3] looks at all rows, fourth column (month), and makes a boolean mask for all values that are True for == 2 (Feb)
# then summing up all the Trues (since they = 1)
q_9 = np.sum(weather_data_np[:, 3] == 2)
print('q_9: ', q_9, type(q_9))

q_9:  671 <class 'numpy.int64'>

In [133]:
#Question 10 What was the mean for humidity in February? Float
# q_10
# creating a boolean mask for rows where the month is february
feb_values = weather_data_np[:, 3] == 2
# looking at all the humidity values (9th column) in the rows where the month is february
feb_humidity = weather_data_np[feb_values, 8]
# using mean function to take the average of all the feb humidity values
avg_feb_humidity = np.mean(feb_humidity)
print('q_10: ', avg_feb_humidity)

q_10:  62.918152011922515

In [132]:
#Question 11 What was the std for humidity in February? Float
# q_11
std_feb_humidity = np.std(feb_humidity)
print('q_11: ', std_feb_humidity)

q_11:  20.33690087674334